<div class="file-form" [formGroup]="fileControlItem">
    "{{id.value}}"

    <div class="file-form__header">
        <span class="file-form__header-label">
          Файл: 
        </span>
        <span class="file-form__header-file-name" >
            "{{name.value}}"
        </span>
    </div>
    <div class="file-form__content">
        <div class="file-form__preview-area">
            <div class="file-form__empty-area" *ngIf="!file.value">
                <app-file (eventRead)="readFile($event)"></app-file>
            </div>
           <img src="{{file.value}}" height="auto" width="320">
        </div>
        <div class="file-form__control-item-wrapper">
            <input class="file-form__control-item" formControlName="id" hidden>
        </div>
        <div class="file-form__control-item-wrapper">
            <input formControlName="file" hidden>
        </div>
        <div class="file-form__horizont-controls">
            <div class="file-form__control-item-wrapper">
                <label for="size">Размер</label>
                <input class="file-form__control-item" formControlName="size" #size readonly>
            </div>
            <div class="file-form__control-item-wrapper">
                <label for="fileType">Тип файла</label>
                <input class="file-form__control-item" formControlName="type" #fileType readonly>
            </div>
        </div>
        <div class="file-form__control-item-wrapper">
            <label for="fileName">Название</label>
            <input class="file-form__control-item" formControlName="name" #fileName>
        </div>
        <div class="file-form__control-item-wrapper">
            <label>Дата создания</label>
            <p-calendar class="file-form__control-item" formControlName="created"></p-calendar>
        </div>
        <div class="file-form__control-item-wrapper">
            <input type="checkbox" formControlName="isNew" disabled>
        </div>
        <div class="file-form__control-item-wrapper">
            <label>Коммент</label>
            <textarea class="file-form__control-item" style="resize: none;" formControlName="comment" #commentFile></textarea>
        </div>
    </div>
    <div class="file-form__footer">
        Footer content here
    </div>

</div>