.formgallery {
    &__header{

    }
    &__controls {
    }
    &__form-control {
    }
    &__controls-wrapper {
        padding: 8px;
        width: 400px;
        margin-bottom: 8px;
    }
    &__files-list{
        padding: 16px;
        background-color: #e0e0eb;
        display: flex;
        min-height: 800px;
    }
}